{% extends "core/base.html" %}

{% block titulo %}
    Carrito de Compras
{% endblock titulo %}

{% load static %}

{% block contenido %}

    <h1 class="text-center display-4 my-4 "> Lista de Flores </h1>
    <table border="2" >
        <tr>
            <td>Nombre de la flor</td>
        <tr>
            <td>Cantidad</td>
        </tr>  
        <tr>  
            <td>Precio</td>
        </tr>
        {% for p in lista %}
        <tr>
            <td>{{p}}</td>
            <td></td>
            <td></td>
        </tr>
        {% endfor %}
    </table>



{% endblock contenido %}