{% extends "core/base.html" %} {% block titulo %} Formulario de ingreso de Flores - Floreria Petalos {% endblock titulo %} {% load static %} {% block contenido %}

<h1 class="text-center display-4 my-4 ">Formulario de ingreso de Flores</h1>
<div class="row justify-content-center">
    <form id="formulario" action="" method="POST" enctype="multipart/form-data" style="align-items: center;" class="form-responsive">
        {% csrf_token %}
        <centet>
            <table border="1" class="table table-responsive table-bordered ">
                <tr>
                    <td style="font-size:20px;">Nombre de la flor:</td>
                    <td>
                        <input type="text" name="txtNombreFlor" id="txtNomFlor">
                    </td>
                </tr>
                <tr>
                    <td style="font-size:20px;">Precio</td>
                    <td>
                        <input type="number" name="txtPrecio" id="txtPrecio" max="200000" min="10000">
                    </td>
                </tr>
                <tr>
                    <td style="font-size:20px;">Descripcion de la flor</td>
                    <td>
                        <textarea name="txtDescripcion"></textarea>
                    </td>
                </tr>
                <tr>
                    <td style="font-size:20px;">Disponible:</td>
                    <td>
                        <input type="radio" name="txtEstado">
                    </td>
                </tr>
                <tr>
                    <td style="font-size:20px;">Seleccione imagen:</td>
                    <td>
                        <input type="file" name="txtImagen">
                    </td>
                </tr>
                <tr>
                    <td style="font-size:20px;">Stock:</td>
                    <td>
                        <input type="number" name="txtStock">
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <input class="btn btn-success" type="submit" value="Guardar">
                    </td>
                </tr>
            </table>
        </centet>
    </form>
    {% if sw %}
    <script>
        setTimeout(function() {
            document.getElementById("mensaje").innerHTML = ''
        }, 2000)
    </script>
    {% endif %}
</div>
<div class="alert alert-primary" role="alert" id="mensaje">
    <b style="text-align: center;">{{msg}}</b>
</div>
{% endblock contenido %}