{% extends "core/base.html" %} {% block titulo %} Formulario de Opiniones - Floreria Petalos {% endblock titulo %} {% load static %} {% block contenido %}

<h1 class="text-center display-4 my-4 ">Tú Opinión Nos Interesa</h1>
<div class="row justify-content-center">

    <form id="formulario" action="" method="POST" style="align-items: center;" class="form-responsive">
        {% csrf_token %}
        <table border="2" class="table table-responsive table-bordered">
            <tr>
                <td style="font-size:20px;">Nombre Articulo</td>
                <td>
                    <input style="width: 350px;" type="text" name="txtNomFlor ">
                </td>
            </tr>
            <tr>
                <td style="font-size:20px;">Opinión</td>
                <td>
                    <input style="width: 350px;" textarea name="txtOpinion ">
                </td>
            </tr>
            <tr>
                <td>
                    <input style="width: 200px;" type="submit" value="Enviar " name="Accion ">
                </td>
            </tr>
        </table>
    </form>
    {% if sw %}
    <script>
        setTimeout(function() {
            document.getElementById("mensaje ").innerHTML = ''
        },2000)
    </script>
    <div id="mensaje " style="text-align: center; font-size: 24px; ">
        <b>{{msg}}</b>
    </div>

    {% endif %}
</div>

<hr>
<div class="table-responsive ">
    <h2 class="text-center display-4 my-4 ">Lista de Opiniones</h2>
    <form id="formulari " action=" " method="POST">
        <table border="1" class="table">
            <tr>
                <td>Nombre Articulo</td>
                <td>Opinion</td>
            </tr>
            {% for opinion in lista %}
            <tr>
                <td>{{opinion.name}}</td>
                <td>{{opinion.op}}</td>
            </tr>
            {% endfor %}
        </table>
    </form>
</div>
{% endblock contenido %}