{% extends "core/base.html" %}

    {% block titulo %}
    Galeria de Peliculas - Cine Romeo
    {% endblock titulo %}

    {% load static %}

    {% block contenido %}
      

      <div>
          <form id="formulario" action="" method="POST" enctype="multipart/form-data">
          {% csrf_token %}
          <centet>
              <h1>Formulario de ingreso de Flores</h1>
              <table>
                  <tr>
                      <td>Nombre de la flor:</td>
                      <td>
                          <input type="text" name="txtNombreFlor">
                      </td>
                  </tr>
                  <tr>
                       <td>valor</td>
                       <td>
                           <input type="number" name="txtValor">
                       </td>
                    </tr>
                    <tr>
                        <td>Descripcion de la flor</td>
                        <td>
                            <textarea name="txtDescripcion"></textarea>
                        </td>
                    </tr>
                    <tr>
                        <td>Estado:</td>
                        <td>
                            <select name="cboCategoria">
                             {% for datos in lista %}
                             <option>{{datos.name}}</option>
                             {% endfor %}
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>Seleccione imagen:</td>
                        <td>
                            <input type="file" name="txtImagen">
                        </td>
                    </tr>
                    <tr>
                        <td>Stock:</td>
                        <td>
                            <input type="number" name="txtStock">
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                             <input type="submit" value="Grabar">
                        </td>
                    </tr>
              </table>
          </centet>
          </form>
          {% if sw %}
          <script>
            setTimeout(function(){
                document.getElementById("mensaje").innerHTML=''
            },2000)
          </script>
          <div id="mensaje">
              <b>{{msg}}</b>  
      </div>
       
       {% endif %}
    </div>  
    {% endblock contenido %}