{% extends "core/base.html" %}

{% block titulo %} 
¿Quienes Somos? - Floreria Petalos
{% endblock titulo %}

{% load static %}

{% block contenido %}

    <section>
        <h2 class="text-center display-4 my-4 ">¿Quienes Somos?</h2>
        <p class="text-center display-7 my-7 "> Somos una florería especializada en el reparto de flores a domicilio en Santiago con más de 10 años de experiencia. Realizamos envíos de todo tipo de flores como rosas, tulipanes, gerberas, lilium, girasoles, flores silvestres y mix florales. Contamos con diseños en floreros, ramos, cajas, canastos en mimbre y brindamos servicio dedecoración de iglesias y eventos. Consulta por nuestros productos. </p>
            <div class="text-center">
                <img src="{% static 'core/img/quienessomos.jpg' %}" class="rounded" style="width: 100%;height: 100%;">
            </div>
        
    </section>
{% endblock contenido %}