{% extends "core/base.html" %}

{% block titulo %} 
¿Quienes Somos? - Floreria Petalos
{% endblock titulo %}

{% load static %}

{% block contenido %}

    <section>
        <h2 class="text-center display-4 my-4 ">¿Quienes Somos?</h2>
        <p> Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ducimus, ullam dolorem. Quia nemo explicabo, eaque distinctio
            maxime ullam eos voluptatibus quae beatae in voluptatum delectus nobis dolorum a architecto quam! </p>
            <div class="text-center">
                <img src="{% static 'core/img/quienes_somos.jpg' %}" class="rounded">
            </div>
        
    </section>
{% endblock contenido %}