{% extends "core/base.html" %}

{% block titulo %} 
¿Quienes Somos? - Floreria Petalos
{% endblock titulo %}

{% load static %}

{% block contenido %}

    <section>
        <h2 class="text-center display-4 my-4 ">¿Quienes Somos?</h2>
        <p> Bienvenido a la floreria Petalos, podra encontrar todo lo que necesita para regalar felicidad </p>
            <div class="text-center">
                <img src="{% static 'core/img/quienes_somos.jpg' %}" class="rounded">
            </div>
        
    </section>
{% endblock contenido %}